.table {
    width: 30%;
    box-shadow: 0px 0px 3px 3px solid green;
    display: flex;
    align-self: center;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.background {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-farm-fresh-vegetable-market-advertising-poster-background-material-image_165354.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
}

.background>h2 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.kales{
    display: flex;

}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}