<div class="container">
    <div class="navbar navbar-dark" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> MAMA MBOGA </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="btn btn-navbar btn-lg"id="buton"><a href="{{url_for('main.index')}}">Welcome</a> </li>
                    <li class="btn btn-navbar btn-lg" id="buton"><a href="{{url_for('auth.login')}}">Sign in</a> </li>
                    <li class="btn btn-navbar btn-lg" id="buton"><a href="{{url_for('auth.register')}}">Sign Up</a>
                    </li>
                   <li class="btn btn-navbar btn-lg" id="buton"><a href="{{url_for('main.cart')}}"><img
                               src="https://thumbs.dreamstime.com/z/shopping-cart-icon-vector-logo-137282150.jpg"
                               alt="Image" width="20px">Cart</a>
                   </li>


                </ul>

            </div>

        </div>
    </div>
</div>
<br>
